:root {
    --LightRed: #f5455c;
    --bleakRed: #63232c;
    --DarkRed: #630b17;

    --DarkGray: #090909;
}

html {
    background-color: #090909;
    opacity: 1;
    background: radial-gradient(circle, transparent 25%, #090909 20%, #090909 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #090909 20%, #090909 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#f5455c 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #f5455c 2px, #090909 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

header {
    width: 100%;
    height: 10vh;
    background: linear-gradient(var(--LightRed),var(--bleakRed));
    backdrop-filter: blur(5px);
    align-items: center;
    border-bottom: 10px groove var(--bleakRed);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.navbar {
    display: flex;
    gap: 2vw;
    padding-top: 1%;
    padding-left: 5%;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-style: oblique;
    font-size: 3vh;
    color: inherit;
    text-decoration: none;
}

.welcome {
    display: block;
    margin: 0 auto;
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 10%);
    backdrop-filter: blur(5px);
    width: 70%;
    border-radius: 10px;
}

#welcomes {
    color: white;
}

#welcomes::after {
    content:"";
    animation: words 5s linear infinite;
}

@keyframes words {
    10% { content:"U";}
    15% { content:"Us";}
    20% { content:"Use";}
    25% { content:"User";}
    30% { content:"H";}
    35% { content:"Hu";}
    40% { content:"Hum";}
    45% { content:"Huma";}
    50% { content:"Human";}
    55% { content:"P";}
    59% { content:"Pe";}
    63% { content:"Per";}
    68% { content:"Pers";}
    70% { content:"Perso";}
    75% { content:"Person";}
    85% { content:"T";}
    86% { content:"Tr";}
    88% { content:"Tra";}
    89% { content:"Trav";}
    91% { content:"Travl";}
    93% { content:"Travle";}
    95% { content:"Travler";}
}

#about-me {
    display: block;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 10%);
    backdrop-filter: blur(5px);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.text-left {
    text-align: left;
}

h1 {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#projects {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 10%);
    backdrop-filter: blur(5px);
    width: 70%;
    border-radius: 10px;
}

.project-box {
    justify-content: center;
    margin: 20px;
    width: 300px;
    height: 300px;
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius:  5px;
}

.project-background {
    background-color: #090909;
opacity: 1;
background-image: radial-gradient(#f5455c 1.4000000000000001px, #090909 1.4000000000000001px);
background-size: 28px 28px;
}

.freecodecamp {
    background-image: url("FreeCodeCampBackground.png");
}

.itchio {
    background-image: url("ItchioBackground.png");
}

.project-folder {
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}

.project-text {
    display: block;
    text-align: center;
    font-size: 25px;
    font-style: initial;
}

.project-list {
    display: block;
    color: white;
    list-style-type: none;
    align-items: center;
    line-height: 1.5;
    font-size: 20px;
    width: 200px;
}

.contact-title {
    text-align: center;
}

#contact {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-align: left;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 10%);
    backdrop-filter: blur(5px);
    width: 70%;
    border-radius: 10px;
}

a {
    color: white;
}

a:hover {
    color: var(--DarkRed);
}

